.my-avatar {
  width: 60px;
  height: 60px;
  border-radius: 24px;
}

.friends__header {
  padding: 15px 15px;
  display: flex;
  border-bottom: 1px solid #b0c6d8;
}

.friend__name {
  font-size: 18px;
  margin-bottom: 5px;
}

.friend__status {
  font-size: 14px;
}

.friend__content {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.friends__channel {
  padding: 15px 15px;
  border-bottom: 1px solid #b0c6d8;
}

.friends__channel h5,
.friends__number-number {
  font-size: 14px;
  margin-bottom: 15px;
}

.friend {
  display: flex;
}

.friends__list {
  padding: 15px 15px;
}

.friends__friend-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friends__nowlistening {
  padding: 7px 10px;
  border: 1px solid #00cd3c;
  border-radius: 25px;
  font-size: 14px;
}

.nowlistening-btn {
  color: #00cd3c;
  margin-left: 5px;
}

.friends__friend-list {
  margin-bottom: 15px;
}
