@import "resetcss.css";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import "header.css";
@import "nav.css";
@import "index.css";
@import "friends.css";
@import "more.css";
@import "settings.css";
@import "find.css";
@import "chats.css";
@import "animation.css";
@import "bigscreen.css";

body {
  width: 100%;
  font-family: "Lato", sans-serif;
  color: #2d292b;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  font-size: 14px;
}

main {
  background-image: linear-gradient(to bottom, #afcfe2, #ebcadf);
  min-height: 120vh;
  padding-top: 90px;
}
